<template>
  <!-- NAVBAR -->
  <div class="navbar">
    <MDBNavbar light bg="primary" expand="lg" position="top" container>
      <MDBNavbarToggler target="navbarNav"></MDBNavbarToggler>
      <MDBNavbarNav collapse="navbarNav">
        <MDBNavbarItem to="/" active> Main </MDBNavbarItem>
        <MDBNavbarItem router-link to="/billing"> Billing </MDBNavbarItem>

        <template v-slot:contentRight>
          <MDBNavbarItem to="#"> Pricing </MDBNavbarItem>
          <MDBNavbarItem to="#"> Disabled </MDBNavbarItem>
        </template>
      </MDBNavbarNav>
    </MDBNavbar>
  </div>
  <!-- MAIN CONTENT -->
  <div class="hello">
    <div data-test="hello-world" id="app">
      <h1>{{ msg }}</h1>
    </div>

    <MDBContainer>
      <MDBBtn color="primary">Primary</MDBBtn>
      <MDBBtn color="primary">Primary</MDBBtn>
      <MDBBtn color="secondary">Secondary</MDBBtn>
      <MDBBtn color="success">Success</MDBBtn>
      <MDBBtn color="danger">Danger</MDBBtn>
      <MDBBtn color="warning">Warning</MDBBtn>
      <MDBBtn color="info">Info</MDBBtn>
      <MDBBtn color="light">Light</MDBBtn>
      <MDBBtn color="dark">Dark</MDBBtn>
      <MDBBtn color="link">Link</MDBBtn>

      <MDBCard text="center">
        <MDBCardHeader>Featured</MDBCardHeader>
        <MDBCardBody>
          <MDBCardTitle>Special title treatment</MDBCardTitle>
          <MDBCardText>
            With supporting text below as a natural lead-in to additional
            content.
          </MDBCardText>
          <MDBBtn tag="a" href="#!" color="primary">Button</MDBBtn>
        </MDBCardBody>
        <MDBCardFooter class="text-muted">2 days ago</MDBCardFooter>
      </MDBCard>

      <MDBCard class="mb-3">
        <MDBCardImg
          top
          src="https://mdbootstrap.com/img/new/slides/041.jpg"
          alt="..."
        />
        <MDBCardBody>
          <MDBCardTitle>hello</MDBCardTitle>
          <MDBCardText>
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </MDBCardText>
          <MDBCardText>
            <small class="text-muted">Last updated 3 mins ago</small>
          </MDBCardText>
        </MDBCardBody>
      </MDBCard>
    </MDBContainer>
  </div>
</template>
<script>
import {
  MDBContainer,
  MDBBtn,
  MDBCard,
  MDBCardBody,
  MDBCardHeader,
  MDBCardTitle,
  MDBCardText,
  MDBCardImg,
  MDBCardFooter,
  MDBNavbar,
  MDBNavbarToggler,
  MDBNavbarNav,
  MDBNavbarItem,
} from "mdb-vue-ui-kit";

export default {
  data: function () {
    return {
      msg: "Hello world!",
    };
  },
  components: {
    MDBContainer,
    MDBBtn,
    MDBCard,
    MDBCardBody,
    MDBCardHeader,
    MDBCardTitle,
    MDBCardText,
    MDBCardImg,
    MDBCardFooter,
    MDBNavbar,
    MDBNavbarToggler,
    MDBNavbarNav,
    MDBNavbarItem,
  },
};
</script>

<style scoped>
a {
  color: #42b983;
}
</style>
