


<style scoped>

</style>



<template>
  <form id="form" @submit.prevent>
    <p data-test="sign-in" class="h4 text-center mb-4">What keeps you busy?</p>

    <input
      type="text"
      id="bodyTextField"
      class="form-control"
      v-model="body"
      style="height: 300px"
    />

    <div class="text-center mt-4">
      <button class="btn btn-indigo" v-on:click="checkForm">Post new kweet</button>
    </div>
  </form>
</template>


<script>
import axios from "axios";

export default {
  body: "",
  data() {},
  methods: {
    checkForm() {
      let self = this;
      axios({
        method: "post",
        url: "http://localhost:40006/api/kwetter/kweet",
        data: {
          body: this.body,
          userId: localStorage.token,
        },
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": "*"
        },
      })
        .then(function (response) {
          if (response.data.header == "OK") {
            self.$router.push("/home");
          }
        })
        .catch(function (response) {
          //handle error
          console.log("I Got a bad response!!!");
          console.log(response);
        });
    },
  },
};
</script>


<style scoped>
</style>
