<template >
  <MDBContainer>
    <MDBCard class="mb-3">
      <MDBCardBody>
        <MDBCardTitle>From {{ this.kweet.user.username }}</MDBCardTitle>
        <MDBCardText>
          {{ this.kweet.body }}
        </MDBCardText>
        <MDBCardText>
          <small class="text-muted"
            >This was posted at {{ this.kweet.timestamp }}</small
          >
        </MDBCardText>
      </MDBCardBody>
    </MDBCard>
  </MDBContainer>
</template>

<script>
import axios from "axios";
import {
  MDBContainer,
  MDBBtn,
  MDBCard,
  MDBCardBody,
  MDBCardHeader,
  MDBCardTitle,
  MDBCardText,
  MDBCardImg,
  MDBCardFooter,
  MDBNavbar,
  MDBNavbarToggler,
  MDBNavbarNav,
  MDBNavbarItem,
} from "mdb-vue-ui-kit";
export default {
  props: {
    kweet: Object,
  },
  components: {
    MDBContainer,
    MDBBtn,
    MDBCard,
    MDBCardBody,
    MDBCardHeader,
    MDBCardTitle,
    MDBCardText,
    MDBCardImg,
    MDBCardFooter,
    MDBNavbar,
    MDBNavbarToggler,
    MDBNavbarNav,
    MDBNavbarItem,
  },
  data() {
    return {
      msg: "Hello world!",
      kweets: [],
    };
  },
};
</script>