<template>
  <!-- Default form login -->
  <form id="form" @submit.prevent>
    <p data-test="sign-in" class="h4 text-center mb-4">Sign in</p>
    <MDBInput
      label="Email"
      type="email"
      v-model="email"
      invalidFeedback="Please enter a valid email"
      required
    />
    <br />
    <MDBInput
      label="Password"
      type="password"
      v-model="password"
      invalidFeedback="Please give a valid password"
      required
    />

    <div class="text-center mt-4">
      <button class="btn btn-indigo" v-on:click="checkForm">Login</button>

      <button class="btn btn-indigo" v-on:click="toRegistration">
        Register a new account
      </button>
    </div>
  </form>
</template>

<script>
import axios from "axios";
import store from "../store/";
import { MDBInput } from "mdb-vue-ui-kit";

export default {
  components: {
    MDBInput,
  },
  email: "",
  password: "",
  data() {},
  methods: {
    toRegistration() {
      this.$router.push("/Register");
    },
    checkForm() {
      let self = this;
      //console.log(process.env.LOGIN_SERVICE_API_URL)
      //URL uit environment halen
      axios({
        method: "post",
        url: "https://login.nielsdvreede.nl/login",
        data: {
          email: this.email,
          password: this.password,
        },
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": "*",
        },
      })
        .then(function (response) {
          console.log(response);
          localStorage.token = response.data.token;
          console.log(localStorage.token);
          store.commit("setLoggedIn");
          self.$router.push("/Home");
        })
        .catch(function (response) {
          //handle error
          console.log("I Got a bad response!!!");
          console.log(response);
        });
    },
  },
};
</script>

<style scoped>
</style>
