<template>
  <form id="form" @submit.prevent>
    <p data-test="sign-in" class="h4 text-center mb-4">Sign up</p>
    <label for="defaultFormLoginEmailEx" class="grey-text">Your email</label>
    <input
      type="email"
      id="defaultFormLoginEmailEx"
      class="form-control"
      v-model="email"
    />
    <br>


    <label for="defaultFormLoginEmailEx" class="grey-text">
      Your username </label>
    <input
      type="username"
      id="defaultFormLoginUsernameEx"
      class="form-control"
      v-model="username"
    />
    <br>
    <label for="defaultFormLoginPasswordEx" class="grey-text"
      >Your password</label
    >
    <input
      type="password"
      id="defaultFormLoginPasswordEx"
      class="form-control"
      v-model="password"
    />

    <br>
    <label for="defaultFormLoginPasswordEx" class="grey-text"
      >Your password</label
    >
    <input
      type="comfirmation password"
      id="defaultFormLoginPasswordEx"
      class="form-control"
      v-model="password"
    />


    <div class="text-center mt-4">
      <button class="btn btn-indigo" v-on:click="checkForm">Register</button>
    </div>
  </form>
</template>


<script>
import axios from 'axios';

export default {
  email: "",
  password: "",
  username: "",
  data() {},
  methods: {
    checkForm() {
      let self =this;
        console.log("email", this.email, "password is", this.password, this.username);
        axios({
            method: "post",
            url: "https://login.nielsdvreede.nl/register",
            data: {
                email: this.email,
                password: this.password,
                username: this.username
            }  ,
            headers: { 
              "Content-Type": "application/json",
              'Access-Control-Allow-Origin': '*'
             },
        })
        .then(function (response) {
            //handle success
            console.log("I Got a response!!!");
            console.log(response);
            self.$router.push('/Login');
        })
        .catch(function (response) {
            //handle error
            console.log("I Got a bad response!!!")
            console.log(response);
        });
    },
  },
};
</script>
