<template>
  <div>
    <KweetCard
      v-for="(kweets, x) in this.kweets"
      :key="x"
      :kweet="this.kweets[x]"
    />
  </div>
</template>

<script>
import KweetCard from "../components/KweetCard.vue";
import axios from "axios";

export default {
  components: {
    KweetCard,
  },
  data() {
    return {
      kweets: [],
      card: "hallo",
    };
  },
  mounted() {
    console.log("env = " + import.meta.env.VUE_APP_LOGIN_SERVICE_API_URL);

    axios
      .get("http://localhost:40006/api/kwetter/kweet/me", {
        headers: {
          Authorization: localStorage.token,
        },
      })
      .then((response) => {
        this.kweets = response.data;
      });
  },
};
</script>