<template>
    <div>
    <LoginForm class="loginform" />
    </div>
</template>

<script>
    import LoginForm from '../components/LoginForm.vue'
    export default {
        name: "Login",
        components:{
            LoginForm
        }
    }



</script>

<style>
.loginform{
  margin-left: 30%;
  margin-right: 30%;
}
</style>
