<template>
  <div>
    <KweetForm/>
  </div>
</template>

<script>
import KweetForm from "../components/KweetForm.vue";
import axios from "axios";

export default {
  components: {
    KweetForm,
  },
};
</script>