<template>
    <div class="registerform">
    <RegisterForm />
    </div>
</template>

<script>
    import RegisterForm from '../components/RegisterForm.vue'
    export default {
        name: "Register",
        components:{
            RegisterForm
        }
    }

    

</script>

<style>
.registerform{
  margin-left: 30%;
  margin-right: 30%;
}
</style>
