<template>
  <div style="display: inline">
    <h1 style="float: left">Kweets</h1>
    <router-link to="/search/user" style="float: right">
      <h1>Users</h1>
    </router-link>  
  </div>
  <kweet-card style="margin-top 20px" v-for="(kweets, x) in this.kweets" :key="x"  :kweet="this.kweets[x]"></kweet-card>
</template>


<script>
import axios from "axios";
import KweetCard from "../components/KweetCard.vue";
export default {
  components: {
    KweetCard,
  },
  props: {
    search: String,
  },
  data() {
    return {  
      kweets: [],
    };
  },
  mounted() {
    console.log(import.meta.LOGIN_SERVICE_API_URL)
    this.kweets = null;
    let self = this;
    console.log(this.search);
    axios
      .get("http://localhost:40006/api/kwetter/search/kweet/" + this.search)
      .then((response) => {
        this.kweets = response.data;
      });
  },
};
</script>