<template>
  <div id="app">
    <Header />
      <div id="content">
         <router-view />
      </div>
  </div>
</template>

<script setup>
import Header from "./components/core/Header.vue";
import Login from "./views/Login.vue";
import "mdb-vue-ui-kit/css/mdb.min.css";

// This starter template is using Vue 3 experimental <script setup> SFCs
// Check out https://github.com/vuejs/rfcs/blob/script-setup-2/active-rfcs/0000-script-setup.md
</script>

<style>
#app {
font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#content{
  margin-top: 60px;
  margin-left: 3%;
  margin-right: 3%;

}


</style>
