<template>
  <MDBNavbar color="indigo" dark expand="md">
    <MDBNavbarBrand>
      <router-link to="/home">Kwetter</router-link>
    </MDBNavbarBrand>
    <MDBNavbarItem>
      <router-link to="/newKweet">New Kweet</router-link>
    </MDBNavbarItem>
    <MDBNavbarItem>
      <router-link to="/privacy">Privacy</router-link>
    </MDBNavbarItem>

    <MDBNavbarNav right>
      <form id="form" @submit.prevent>
        <MDBNavbarItem>
          <MDBInput label="Search" v-model="search" />
        </MDBNavbarItem>
        <MDBNavbarItem>
          <button class="btn btn-indigo" v-on:click="checkform">Search</button>
        </MDBNavbarItem>
      </form>
    </MDBNavbarNav>
  </MDBNavbar>
</template>

<script>
import { ref } from "vue";
import {
  MDBBtn,
  MDBNavbar,
  MDBNavbarToggler,
  MDBNavbarBrand,
  MDBNavbarNav,
  MDBNavbarItem,
  MDBCollapse,
  MDBDropdown,
  MDBDropdownToggle,
  MDBDropdownMenu,
  MDBDropdownItem,
  MDBInput,
} from "mdb-vue-ui-kit";

export default {
  components: {
    MDBBtn,
    MDBNavbar,
    MDBNavbarToggler,
    MDBNavbarBrand,
    MDBNavbarNav,
    MDBNavbarItem,
    MDBCollapse,
    MDBDropdown,
    MDBDropdownToggle,
    MDBDropdownMenu,
    MDBDropdownItem,
    MDBInput,
  },
  search: "",
  setup() {
    const collapse1 = ref(false);
    const dropdown1 = ref(false);
    return {
      collapse1,
      dropdown1,
    };
  },
  methods: {
    isLoggedIn() {
      return window.localStorage.getItem("username");
    },
    logout() {
      // Remove username from localStorage
    },
    checkform() {
      if (this.search != null){
        this.$router.push("/search/kweet?search=" + this.search);
      }
    },
  },
};
</script>

<style>
.a {
  aspect-ratio: 40px;
}
</style>